{% extends 'base.html' %}
{% load static %}
{% load cache %}
 <!-- Title -->
<title>{% block title %}privacy{% endblock %}</title>
    {% block header %}
    {% endblock %}
    {% block content %}

     <!-- ##### Welcome Area Start ##### -->
     <div class="breadcumb-area clearfix dzsparallaxer auto-init" data-options='{direction: "normal"}'>
        <div class="divimage dzsparallaxer--target" style="width: 101%; height: 130%; background-image: url(/static/img/bg-img/bg-2.jpg)"></div>
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">Privacy Policy</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->


    <div class="faq-timeline-area transparent section-padding-100-85" id="faq">
        <div class="container">
            <div class="section-heading">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content fadeInUp" data-wow-delay="0.2s">
                    <span>Privacy Policy</span>
                </div>
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">How We Collect & Use Your Personal Data</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>

            <h2 class="fadeInUp" data-wow-delay="0.3s">How We Collect & Use Your Personal Data</h2>
            <ol>
                <li><h2 class="fadeInUp" data-wow-delay="0.3s">1. Cookies</h2></li>
                <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our websites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services.</p>
                <li><h2 class="fadeInUp" data-wow-delay="0.3s">2. Web Beacons and Pixel Tags</h2></li>
                <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our websites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services.</p>
            </ol>

            <h2 class="fadeInUp" data-wow-delay="0.3s">How We Disclose Personal Data</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>

            <h2 class="fadeInUp" data-wow-delay="0.3s">How to Access & Control Your Personal Data</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>

            <h2 class="fadeInUp" data-wow-delay="0.3s">How We Protect and Retain Your Personal Data</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>

            <h2 class="fadeInUp" data-wow-delay="0.3s">How We Process Children's Personal Data</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>

            <h2 class="fadeInUp" data-wow-delay="0.3s">Third-Party Providers and Their Services</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>

            <h2 class="fadeInUp" data-wow-delay="0.3s">International Transfers of Your Personal Data</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>

            <h2 class="fadeInUp" data-wow-delay="0.3s">Updates to This Policy</h2>
            <p>Personal data means any data that, either on its own or jointly with other data, can be used to identify a natural person. You directly provide us with such data when you use our web sites, products, or services, or interact with us by, for example, creating a Huawei account or contacting us for support. We may also obtain data by recording how you interact with our websites, products, or services provide for customer service support</p>
        </div>
        
    </div>

    {% endblock %}
{% block footer %}
{% endblock %}
